@import"variable";

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #ccc;
}
.header{
    width: 100%;
    height: 120px;
    background-color: $coder;
   .header-item{
    margin: 0 15%;
    height: 100%;
        background-color: white;
        display: flex;
    &__logo img{
        max-width: 162px;
        height: auto;
        padding: 15px 15px 10px 0px;
    }
    &__nav{
    max-height: 100%;
    width: 100%; 
    display: flex;
    flex-direction: column;
        &-top{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            height: 48px;
            width: 100%;
            &left{
                display: flex;
                margin-right:2rem;                 
            }
            &left li{
                display: flex;
                padding: 1rem;  
                text-transform: none;
                width: auto;             
            }
            &left li a{
                color: #000;
            }
            &right{
                display: flex;
                color: #fff;
                text-align: center;
                width: calc(459px);
            }
            &right li a{
                color: #fff;
            }
            &right li{
                padding: 1rem;
                width: 100%;
                background-image:linear-gradient(to top,#31b6c9,#026a71);
            }
            &left li a:hover{
                color: #ff6900;
            }
            &right li:last-child{
                background-image: linear-gradient(to top,#00cce9,#00939d);
            }   
        }    
        &-top ul{
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            font-family: Lato,sans-serif;
            text-transform: uppercase;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
        }
        &-bottom{
            display: flex;
            margin-top: 1rem;
            justify-content: flex-end;
            min-height: 60px;
            width: 100%;
            position: relative;
            white-space: nowrap;
            .villa__item1{
                &-villa__item{
                    & li a {
                        color: #fff;
                    }
                }
            }
            .ruou__hover-item{
                &-villa__item{
                    & li a{
                        color: #fff; 
                    }
                    & li :hover{
                        color: #fff;
                        text-decoration: underline;
                    }
                }
            }
        }
        &-bottom li{
            text-align: center;
            padding: 1rem;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            font-family: Lato,sans-serif;
        }
        &-bottom li:active{
            text-decoration: underline
        }
        &-bottom li a {
            color: #026a71;
        }
        &-bottom li a:hover{
            color: #000;
        }
        .villa__item1-villa__item li a:hover{
            color: #fff;
        }
        
    }
}
}
.ruou__hover-item{
    visibility: hidden;
    &-villa__item{
        display: flex;
        box-sizing: border-box;
        justify-content: center; 
        position: absolute;
        width: 1921px;
        height: 56px;
        left: -466px;
        top: -56px;
        background-image: linear-gradient(to top,#219ba9,#026a71);
        transform: translateY(200%);
        z-index: 3;
        & li{
            padding: 1.2rem;
            margin-left: 1rem;
            text-transform: uppercase;
            font-size: 14px;
            padding-top: 23px;
            font-family: Lato,sans-serif;
            font-weight: 500;
        }
    }
    ::after{
        content: "";
        position: absolute;
        width: 13px;
        height: 13px;
        top: -12%;
        left: 59%;
        background-color: #fff;
        z-index: 2;
        transform: rotate(45deg);
    }
}
.villa__item1{
    visibility: hidden;
    &-villa__item{
        display: flex;
        justify-content: center;
        position: absolute;
        width: 1921px;
        min-height: 56px;
        background-image: linear-gradient(to top,#219ba9,#026a71);
        left: -466px;
        top: -56px;
        transform: translateY(200%);
        z-index: 3;
        transition:background-color 1s ease ;
        & li{
            padding: 1.2rem;
            margin-left: 1rem;
            text-transform: uppercase;
            font-size: 14px;
            padding-top: 23px;
            font-family: Lato,sans-serif;
            font-weight: 500;
        }   
        ::after{
            content: "";
            position: absolute;
            width: 13px;
            height: 13px;
            top: -12%;
            left: 50.6%;
            background-color: #fff;
            z-index: 2;
            transform: rotate(45deg);
        }
        & li a{
            color:#fff;
        }

        & li a:hover{
            text-decoration: underline;
            color: #fff;
        }
    } 
}
.hearder__rooms i{
    color: #fff;
}
.villa__hover:hover .villa__item1 {
    visibility: visible;
}
.ruou__hover:hover .ruou__hover-item{
    visibility: visible;
}
a{
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
 li{
    list-style: none;
}
.rooms{
    visibility: hidden;
    position: absolute;
    background-image: linear-gradient(to top,#219ba9,#026a71);
    width: 13%;
    height: auto;
    left: 28%;
    top: 100%;
    overflow:hidden;
}
.hearder__rooms:hover .rooms{
    visibility: visible;
}
.content{
    &__bgr{
        width: 100%;;
        height: 784px;
        overflow: hidden;
        position: relative;
        .content__bgr-img{
         background: center;
         object-fit: cover;
         position: absolute;
         top: -33.8%;
         width: 100%;
         height: 100%;
         left: 0;
        }
        .content__bgr-img::after{
            content: "";
            position: absolute;
            top: 33.8%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.37);
        }
        .content__bgr-img__title{
            height: 150px;
            width: auto;
            position:absolute;
            top: 60%;
            left: 20%;
            transform: translate(-50% -50%);
            text-align: center;
            color: white;
            z-index: 2;
            & h1{
                font-size: 60px;
                text-transform: uppercase;
               font-family: Lato,sans-serif;
               line-height: 72px;
               margin-bottom: 5px;
            }
            & h3{
                font-size: 24px;
                font-family: Lato,sans-serif;
                font-weight: 300;
                margin: 0 10%;
            }
            &__tour{
                margin-top:18%;
                width: 1064px;
                height: 93px;
                box-sizing: border-box;
                &-item {
                    display: flex;
                    flex-direction: column;
                }
                &-item ul{
                    display: flex;
                    width: 120%;
                    height: 35%;
                    margin-left: 8%;
      
                }
                &-item ul li label{
                    margin-top: 12px;
                    width: 80%;
                    text-align: left;
                }
                &-item ul li:not(:last-child){
                    display: flex;
                    align-items: center;

                    width: 288px;
                    margin-left: 0.8px;
                    font-size: 20px;
                    color: #026a71;
                    // padding: 10px 0;
                    font-weight: 500;
                    font-family: Lato,sans-serif;
                    flex-direction: column;
                    background-color: white;
                    text-align: center;
                    text-transform: uppercase;

                }
                &-item ul li input{
                    margin-top: 1rem;
                    background-color: transparent;
                    width: 80%;
                    border: none;

                }
                &-item ul li:last-child{
                    box-sizing: border-box;
                    width: 220px;
                    margin-left: 1px;
                    font-size: 22px;
                    color: #026a71;
                    // padding: 10px 0;
                    font-weight: 500;
                    font-family: Lato,sans-serif;
                    flex-direction: column;
                    background-image: linear-gradient(to top,#219ba9,#026a71);
                    text-align: center;
                    text-transform: uppercase;
                }
                &-item ul li button{
                    border: none;
                    background-color: transparent;
                    padding:1rem;
                    margin: 1rem 1rem 0 0;
                    color: white;
                    font-size: 24px;
                    cursor: pointer;
                }
                &-next{
                    width: 40%;
                    height: auto;
                & ul li {
                    font-size: 30px;
                    font-weight: 400;
                    color: #fff;
                    text-transform: uppercase;
                    margin-left: 100%;
                    margin-top: 10%;
                    white-space: nowrap;
                }
                & ul li a{
                    font-size: 30px;
                    font-weight: 400;
                    color: #fff;
                    text-align: center;
                    text-transform: uppercase;
                }

                }
                
            } 
 
        }
    }
    &__img{
        height: 885px;
        width: 100%;
        overflow: hidden;
        position: relative; 
 
        &::before{
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0,0,0,.76)
        
        }
        &-list {
          width: 100%;
          height: auto;
          position: absolute;
          z-index: 2;
          margin-top: 10%;
        & ul {
            width: 100%;
            height: 650px;
            display: flex;
            align-items: center;
            margin: 0 auto;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
           
        & li {
            width: 32.4%;
            height: 100%;
            background-color: transparent;
            position: relative;
            & .wapper__list{
                width: 100%;
                height: 100%;

                & h2{
                    text-transform: uppercase;
                    font-family: Lato,sans-serif;
                    font-size: 60px;
                    color: #fff;
                    margin:30px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 72px;
                }
                & p {
                    font-family: Lato,sans-serif;
                    font-size: 14px;
                    color: #fff;
                    margin-left: 2rem;
                    font-style: normal;
                    font-size: 18px;
                    margin-bottom: 1rem;
                    line-height: 28px;
                    font-weight: 400;
                }
                & a {
                    position: absolute;
                    font-size: 18px;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 400;
                    margin-left: 2rem;
                    font-family: Lato,sans-serif;
                    border: white 2px solid;
                    white-space: nowrap;
                    padding: 0.8rem 2rem;


                }
                & ul li :hover{
                    background-image:linear-gradient(to top,#219ba9,#026a71) ;
                }
            }
         & img{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            object-fit: cover;
            
         }

        }
        
        }
    }
    }
    &__img img{
        position: absolute;
        top: -30%;
        width: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        
    }
    &__image{
        width: 100%;
        height: 800px;   
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: linear-gradient(to bottom,rgba(1,73,78,.4),rgba(1,73,78,.6),rgba(1,73,78,0));           
        }
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
        &-onepage{
            position: absolute;
            width: 40%;
            height: 60%;
            top: 20%;
            left: 30%;
            background-color: transparent;
            z-index: 1;
            text-align: left;
            & li{
                margin-top: 1rem;
                margin-right: 1rem;
            }
            & h2{
                text-transform: uppercase;
                font-family: Lato,sans-serif;
                font-size: 60px;
                color: #fff;
                margin:30px;
                font-style: normal;
                font-weight: 700;
                line-height: 72px;
            }
            & h5{
                font-family: Lato,sans-serif;
                font-size: 14px;
                color: #fff;
                margin-left: 2rem;
                font-style: normal;
                font-size: 18px;
                line-height: 28px;
                font-weight: 400;
                margin-right: 1rem;
                margin-bottom: 2rem;
            }
            & li a{
                font-size: 18px;
                color: white;
                text-transform: uppercase;
                font-weight: 400;
                font-family: Lato,sans-serif;
                border: white 2px solid;
                white-space: nowrap;
                padding: 0.8rem 2rem;
                margin-left: 2rem;

            }
            & li a:hover{
                background-image:linear-gradient(to top,#219ba9,#026a71) ;
            }
        }
   
    }
    &__brg04{
        width: 100%;
        height: 850px;
        background-color: #ccc;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,.76);          
        }
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            // background-repeat: repeat;
        } 
        &-list{
            position: absolute;
            background-color: transparent;
            width: 100%;
            height: 80%;
            top: 10%;
            z-index: 1;
            left: 0;
            display: flex;
            flex-direction: row-reverse;
            // justify-content: space-between;
            &__img{
                width: 65%;
                height: 100%; 
                position: absolute;
            & img {
                object-fit: cover;
                background-repeat: no-repeat;
            }
            }
            &__image1{
                position: absolute;
                width: 43%;
                top:5%;
                left: 0;
                height: 90%;
                z-index: 2;
                background-color: #026a71;
            & li{
                margin: 3rem 3rem 3rem 8rem;
            & h2{
                text-transform: uppercase;
                font-family: Lato,sans-serif;
                font-size: 60px;
                color: #fff;
                width: 80%;
                // margin-left: 4rem;
                font-style: normal;
                font-weight: 700;
                line-height: 72px;
            }
            & p{
                font-family: Lato,sans-serif;
                font-size: 14px;
                color: #fff;
                // margin-left: 4rem;
                font-style: normal;
                font-size: 18px;
                margin-bottom: 1.6rem;
                line-height: 28px;
                font-weight: 400;
                margin-right: 1rem;
            }
            & a{
                font-size: 18px;
                color: white;
                text-transform: uppercase;
                font-weight: 400;
                font-family: Lato,sans-serif;
                border: white 2px solid;
                white-space: nowrap;
                // margin-left: 4rem;
                // margin-top: 2rem;
                padding: 0.8rem 2rem;
                // position: absolute;
                // top: 70%;
                // left: 0;
            &:hover{
                background-color:#219ba9 ;
            }
            }
            }
         }
        }
    }   
    &__brg5{
        width: 100%;
        height: 100%;
        position: relative;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-ruou{
            position: absolute;
            width: 48%;
            height: auto;
            top:10%;
            left: 26%;
            margin: 0 auto;
            &__1{
                text-align: center;
                & li{
                    margin-top: 1.2rem;
                    margin: 0 2rem;
                }
                & h2{
                    text-transform: uppercase;
                    font-family: Lato,sans-serif;
                    font-size: 60px;
                    color: #fff;
                    width: 80%;
                    margin-left: 10%;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 72px;
                }
                & li 
                h5{
                    font-family: Lato,sans-serif;
                    font-size: 14px;
                    color: #fff;           
                    font-style: normal;
                    font-size: 18px;
                    margin-bottom: 1.6rem;
                    line-height: 28px;
                    font-weight: 400;
                    margin-right: 1rem;
                    margin-top: 2rem;
                }


            }
            &__2{
                width: 100%;
                height: auto;   
                    display: flex;
                    justify-content: space-between;
                    & li{
                        margin-top: 2rem;
                        width: 27.5%;
                        height: 28%;
                    }
                    & li h3{
                        text-align: center;
                        margin-top: 1rem;
                        font-family: Lato,sans-serif;
                        font-size: 18px;
                        font-weight: 400;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 28px;
                        letter-spacing: normal;
                        color: #fff;
                    }
            }
        }
        
    }
    &__spa{
        width: 100%;
        height: 465px;
        background-color: #ccc;
        &-list{
            width: 720px;
            height: 100%;
            margin: auto;
            & li {  
                margin-top: 3rem;
                & h2{
                    text-transform: uppercase;
                    font-family: Lato,sans-serif;
                    font-size: 60px;
                    color: #026a71;
                    width: 80%;
                    margin-left: 10%;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 72px;
                    // text-align: center;
                }
                & p{
                    font-family: Lato,sans-serif;
                    font-size: 14px;
                    color: #424242;           
                    font-style: normal;
                    font-size: 18px;
                    margin-bottom: 1.6rem;
                    line-height: 28px;
                    font-weight: 400;
                    margin-right: 1rem;
                    margin-top: 2rem;
                }
            }
        }
    }
    &__ospa{
        width: 100%;
        min-height: 750px;
        background-color: white;
        display: flex;
        justify-content: center;
        &-item{
            height: 100%;
            width: 33%;
            margin-top: 5rem;
            margin-right: 2rem;
            & img{
                width: 100%;
                height: 100%;
            }
            & h2{
                margin-top: 1rem;
                font-family: Lato,sans-serif;
                font-size: 24px;
                margin: 0;
                font-weight: 700;
                line-height: 28px;
                margin-top: 1rem;
            }
            & h5{
                font-family: Lato,sans-serif;       
                font-style: normal;
                font-size: 18px;
                margin-bottom: 1.6rem;
                line-height: 28px;
                font-weight: 400;
                margin-right: 1rem;
                margin-top: 1rem;
            }
        }
        &-yoga{
            height: 100%;
            width: 33%;
            margin-top: 5rem;
            margin-left: 2rem;
            position: relative;
            & img{
                width: 100%;
                height: 100%;  
                
            }
            & .img2:hover .img001{
                visibility: visible;
            }

            & li div{
                position: absolute;
                visibility: hidden;
                width: 100%;
                height: 100%;
                top: 35%;
                left: 34%;
                z-index: 2;
                & a{      
                color: white;
                text-transform: uppercase;
                font-weight: 400;
                font-family: Lato,sans-serif;
                border: white 2px solid;
                white-space: nowrap;
                // margin-left: 4rem;
                // margin-top: 2rem;
                padding: 0.8rem 2rem;
                }
            }
            & h2{
                font-family: Lato,sans-serif;
                font-size: 24px;
                margin: 0 auto;
                font-weight: 700;
                line-height: 28px;
                margin-top: 1rem;
            }
            & h5{
                font-family: Lato,sans-serif;       
                font-style: normal;
                font-size: 18px;
                margin-bottom: 1.6rem;
                line-height: 28px;
                font-weight: 400;
                margin-right: 1rem;
                margin-top: 1rem;
            }

        }
        
    }
    &__end{
        min-height: 785px;
        width: 100%;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-image: linear-gradient(to bottom,rgba(1,73,78,.4),rgba(1,73,78,.6),rgba(1,73,78,0));   
        }
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
        &-01{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;
            z-index: 2;
            text-align: center;           
            margin-top: 10% ;
            & li{
                margin-left: 25%;
                margin-right: 25%;
            & h3{
                text-transform: uppercase;
                font-family: Lato,sans-serif;
                font-size: 60px;
                color: #fff;
                margin:30px;
                font-style: normal;
                font-weight: 700;
                text-align: center;
                line-height: 72px;
            }
            & h5{
                font-family: Lato,sans-serif;
                font-size: 14px;
                color: #fff;
                margin-left: 2rem;
                font-style: normal;
                font-size: 18px;
                margin-bottom: 5%;
                line-height: 28px;
                font-weight: 400;
                margin-right: 1rem;
            }
            & a{
                font-size: 18px;
                color: white;
                text-transform: uppercase;
                font-weight: 400;
                font-family: Lato,sans-serif;
                border: white 2px solid;
                white-space: nowrap;
                padding: 0.8rem 2rem;
                &:hover{
                    background-image:linear-gradient(to top,#219ba9,#026a71) ;
                }
            }

            }

        }
    }
    
}
.fotter{
    width: 100%;
    height: auto;
    &__nav{
        min-height: 120px;
        width: 100%;
        display: flex;
        background: url("https://mianhatrang.com/wp-content/themes/mianhatrang/img/parttern.png");
        background-color: #026a71;
        justify-content: center;
        & li{
            padding: 2rem;
            & a{
                text-transform: uppercase;
                font-family: Lato,sans-serif;
                font-size: 32px;
                color: #fff;
                margin:30px;
                font-style: normal;
                font-weight: 700;
                text-align: center;
                line-height: 72px;
            }
        }
    }
    &__prymary{
        min-height: 710px;
        width: 100%;
        
        background-color:#026a71 ;
        display:flex ;
        flex-direction: column;
        &-top{
            min-width: 1170px;
            height: 330px;
            display: flex;
            margin:3rem 5rem;

            &__left{
                min-height: 330px;
                width: 70%;
                margin-left: 10%;
                & h3{
                    font-family: Lato,sans-serif;
                    color: #fff;
                    width: 800px;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 60px;
                    margin-bottom: 10px;
                }
                & .input01{    
                    font-size: 18px;
                    font-weight: 400;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 3.33;
                    letter-spacing: normal;
                    color: #fff;
                    background-color: rgba(49,182,201,.65);
                    height: 62px;
                    width: 495px;
                    font-family: Lato,sans-serif;
                    border: 0;
                    padding-left: 21px;
                    border-radius: 0;
                    margin-bottom: 1rem;
                }
                & .check1{
                    display: flex;
                    margin-top: 1rem;
                    text-align: center;
                    & #check{
                        display: inline-block;
                        background-color: #fff;
                        width: 25px;
                        height: 25px;
                        border: 2px solid #fff;
                        border-radius: 0;
                    

                        // &:checked{

                        // }
                    // &::before{
                    //     content: "";
                    //     position: absolute;
                    //     width: 200%;
                    //     height: 200%;
                    //     color:#fff;
                    
                    // }
                    }  
                    & .btn{
                        padding: 0.7rem 2rem;
                        margin-left: 17%;
                        font-size: 24px;
                        font-weight: 400;
                        font-family: Lato,sans-serif;
                        cursor: pointer;
                        border: none;
                        background-color: #ccc;

                        &:hover{
                            background-color: rgba(49,182,201,.65);

                            color: #fff;
                        }
                    }
                    
                
                }
            }
            &__right{
                min-height: 330px;
                width: 50%;
                
                & h3{
                    font-family: Lato,sans-serif;
                    color: #fff;
                    width: 800px;
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 60px;
                    // margin-bottom: 10px;
                }
                & li {
                    display: flex;
                    margin-bottom: 1.4rem;
                }
                & i{
                    color: #fff;
                    font-size: 20px;
                    margin-top: 0.2rem;
                }
                & h5{
                    font-family: Lato,sans-serif;
                    font-size: 22px;
                    color: #fff;
                    margin-left: 1rem;
                    font-style: normal;
                    font-size: 18px;
                    // margin-bottom: 5%;
                    line-height: 28px;
                    font-weight: 400;
                    margin-right: 1rem;
                }
                & p{
                    font-family: Lato,sans-serif;
                    font-size: 22px;
                    color: #fff;
                    margin-left: 1rem;
                    font-style: normal;
                    font-size: 18px;
                    // margin-bottom: 5%;
                    line-height: 28px;
                    font-weight: 400;
                    margin-right: 1rem;
                }
            }
        }
        &-bottom{
            width: 100%;
            height: 360px;
            & ul{
                display: flex; 
                justify-content: space-between;
                align-items: center;
                margin-left: 15%;
                margin-right: 10%;
                
            & li{
                max-width: 28%;
                height: 100%;
                }
            & img{
                width: 100%;
                height: 80%;
            }
            & .imgto{
                width: 65%;
                height: 55%;
            }
            & .logooo1{
                width: 100%;
                height: 100%;
                text-align: center;
                margin-bottom: 3rem;
                & img{
                    width: 50%;
                    height: 50%;
                    color: #fff;
                    object-fit: cover;
                }
                & ul{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 2rem;
                    margin-top: 2rem;
                    & li{
                        margin: auto;
                        width: 50px;
                        height: 50px;
                        text-align: center;
                        border-radius: 50%;
                        background-color: #fff;

                        & i{
                            font-size: 18px;
                            margin-top: 15px;
                            color: #026a71;
                            cursor: pointer;
                        }
                    }

                }
                & a{
                    font-family: Lato,sans-serif;
                    font-size: 14px;
                    color: #fff;
                    // margin-left: rem;
                    font-style: normal;
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 400;
                    }
                & p{font-family: Lato,sans-serif;
                    font-size: 14px;
                    color: #fff;
                    // margin-left: 2rem;
                    font-style: normal;
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 400;
                    margin-top: 1rem;
                }
            }
            }
        }
    }
} #label1{
                        font-family: Lato,sans-serif;
                        font-size: 18px;
                        font-weight: 400;
                        font-stretch: normal;
                        font-style: normal;
                        letter-spacing: normal;
                        color: #fff;
                        padding-left: 5px;
                        & a{
                            color: #fff;
                            text-decoration: underline;
                        }
}
// @media screen and(max-width:739px){
//     .header{
//       width: 100%;
//       height: 60px;
//     //   &-item{
//     //       & a {

//     //       }
//     //   }
//     } 
// }
.soluongnguoi:focus-visible{
    outline: none;
}
.soluongnguoi{
    width: auto;
    height: 22px;
   
}
.dathang:active{
    opacity: 0.8;
}